<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MiniPar 2025.1 </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>MiniPar 2025.1 </h1>

        <div id="editor" contenteditable="true" spellcheck="false" placeholder="Digite seu código MiniPar aqui..."></div>
        <button id="executar">Executar</button>

        <h2>Saída:</h2>
        <pre id="saida"></pre>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
