body {
    font-family: 'Fira Code', monospace;
    background: #1e1f29;
    margin: 20px;
    color: #f8f8f2;
}

h1 {
    font-family: 'Share Tech Mono', monosspace;
    color: #e2d9eb;
    text-align: center;
    margin-bottom: 20px;
}


.editor-controls, .example-loader, .tabs {
    margin-bottom: 20px;
}

textarea.CodeMirror {
    height: 400px;
    border-radius: 8px;
    border: 1px solid #6272a4;
    background: #282a36;
    color: #f8f8f2;
    font-size: 14px;
    padding: 5px;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #380c70;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background: black;
}

select {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #6272a4;
    background: #44475a;
    color: #f8f8f2;
    cursor: pointer;
}

pre {
    background: #282a36;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6272a4;
    white-space: pre-wrap;
    color: #f8f8f2;
}

.tab-buttons {
    margin-bottom: 10px;
}

.tab-buttons button {
    margin-right: 5px;
    margin-bottom: 5px;
    background: #04278f;
    color: #f8f8f2;
}

.tab-buttons button:hover {
    background: #041341;
}

.tab-content {
    border: 1px solid #6272a4;
    border-radius: 8px;
    padding: 10px;
    background: #282a36;
    color: #f8f8f2;
    min-height: 150px;
}

.hidden {
    display: none;
}

