body {
    font-family: monospace;
    background: #282c34;
    margin-left: 20px;
    color: #FFFF00;
    padding: 20px;
}
textarea {
    width: 80%;
    height: 250px;
    background: #00040a;
    color: #abb2bf;
    border: 1px solid #3e4451;
    padding: 10px;
    font-size: 14px;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #FFFF00;
    border: none;
    color: #0c0101;
    font-size: 16px;
    cursor: pointer;
}
pre {
    background: #1e2127;
    padding: 10px;
    border: 1px solid #3e4451;
    margin-top: 10px;
    white-space: pre-wrap;
}
